/* styles.module.css */
.container {
    background-image: url('../components/images/first.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Additional background styles */
  }